<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gestion_de_Stock_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Gestion_de_Stock_.Properties.Settings.Gestion_De_StockConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Gestion_De_Stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Gestion_de_Stock_.Properties.Settings>
            <setting name="StringConnection" serializeAs="String">
                <value>Server =.\SQLEXPRESS; Database = Gestion_De_Stock; Integrated Security = true</value>
            </setting>
        </Gestion_de_Stock_.Properties.Settings>
    </userSettings>
</configuration>